#base-layout {
    justify-content: space-between;
    height: 100%;
    .main {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.error {
    height: 100%;
    p {
        font-size: 1.5rem;
    }
}