<header class="header">
    <div class="container">
        <div class="header__content flex">
            <div class="header__logo">
                <img src="/src/assets/images/logo.png" alt="Logo">
            </div>
        
            <nav class="header__nav">
                <ul class="header__links">
                    <li><router-link to="/">Start</router-link></li>
                    <li><router-link to="/home">Home</router-link></li>
                </ul>
            </nav>
        </div>
    </div>
</header>